---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/hero/antalya2024.astro";
import Tech from "../components/Technology.astro"
import WhyAttend from "../components/WhyAttend.astro"
import Challenges from "../components/Challenges.astro"
import { Image } from 'astro:assets';
import Berlin from '../images/DecodeTravel-2.jpg';

import decodeimage01 from '../images/decode-berlin-2024/240426120607_munirwerner_03014.jpg';
import decodeimage02 from '../images/decode-berlin-2024/240425190234_munirwerner_02713.jpg';
import decodeimage03 from '../images/decode-berlin-2024/240426120623_munirwerner_03017.jpg';
import decodeimage04 from '../images/decode-berlin-2024/240423185359_munirwerner_02410.jpg';
---

<BaseLayout>
  <Hero />

  <div class="text-center py-24 lg:py-40 flex flex-col items-center justify-center">
    <div data-sal="slide-up" class="container text-center flex flex-col items-center z-20">
        <div class="font-bold uppercase  mb-4 bg-primary inline-block text-gray-950 px-3 py-2">
            //Decode travel
        </div>
        <div class="text-white font-bold text-4xl md:text-6xl mt-6 mb-12 uppercase tracking-tighter">
          From concept to reality in 48 hours
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
          <Image class="rounded-xl border border-white/25 hover:scale-110 hover:rotate-0 transition-transform rotate-3" src={decodeimage01} alt="Pile of Assorted-color Boats" />
          <Image class="rounded-xl border border-white/25 hover:scale-110 hover:rotate-0 transition-transform -rotate-3" src={decodeimage02} alt="Pile of Assorted-color Boats" />
          <Image class="rounded-xl border border-white/25 hover:scale-110 hover:rotate-0 transition-transform rotate-3" src={decodeimage03} alt="Pile of Assorted-color Boats" />
          <Image class="rounded-xl border border-white/25 hover:scale-110 hover:rotate-0 transition-transform -rotate-3" src={decodeimage04} alt="Pile of Assorted-color Boats" />
        </div>
    </div>
  </div>

  <div class="container my-8">
    <div class="grid grid-cols-2">
      <div class="col-span-2 md:col-span-1 flex items-center justify-center overflow-hidden md:rounded-l-3xl">
          <Image src={Berlin} alt="Pile of Assorted-color Boats" class="w-full h-full object-cover inline-block" />
      </div>
        <div class="col-span-2 md:col-span-1 flex flex-col justify-center p-8 md:p-16 bg-gradient-to-r from-primary/30 to-primary/10 rounded-b-3xl md:rounded-r-3xl md:rounded-bl-none">
            <h1 class="text-white font-bold text-4xl md:text-5xl uppercase tracking-tight">
              8 teams, 4 challenges: Decode Travel in Berlin
            </h1>
            <div class="text-lg my-4">
              The first web3 travel hackathon was a success, bringing together international Decoders from product managers to backend and blockchain developers to work on challenges posed by major travel companies.
            </div>
            <div class="md:flex items-center gap-6">
              <div><div class="font-semibold text-secondary font-mono">//DATE:</div> April 23-26, 2024</div>
              <div><div class="font-semibold text-secondary font-mono">//LOCATION:</div> w3.hub Berlin, 🇩🇪 Germany</div>
            </div>
            <div class="mt-4">
              <a class="font-semibold px-5 py-3 rounded-lg bg-primary hover:bg-white text-gray-950 inline-block" href="/berlin2024">
                Recap #DTBerlin24
              </a>
            </div>
        </div>
    </div>
  </div>

  <WhyAttend />
  <Tech />
  <Challenges />
</BaseLayout>
