---
import { Image } from 'astro:assets';

import decodeimage01 from '../images/decode-berlin-2024/240423185359_munirwerner_02410.jpg';
import decodeimage02 from '../images/decode-berlin-2024/240425173326_munirwerner_02584.jpg';
import decodeimage03 from '../images/decode-berlin-2024/240425190234_munirwerner_02713.jpg';
import decodeimage04 from '../images/decode-berlin-2024/240426113829_munirwerner_01791.jpg';
import decodeimage05 from '../images/decode-berlin-2024/240426115157_munirwerner_01815.jpg';
import decodeimage06 from '../images/decode-berlin-2024/240426120607_munirwerner_03014.jpg';
import decodeimage07 from '../images/decode-berlin-2024/240426120623_munirwerner_03017.jpg';
import decodeimage08 from '../images/decode-berlin-2024/240426131552_munirwerner_03142.jpg';
import decodeimage09 from '../images/../images/DecodeTravel-2.jpg';
---
<div class="py-8">
    <div class="container text-center">
        <div class="font-bold uppercase bg-primary inline-block text-gray-950 px-3 py-2">
            //Berlin2024 in pictures
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-6 items-center mt-10">
          <Image class="rounded-xl border aspect-video object-cover border-white/25 hover:scale-110 hover:rotate-0 transition-transform rotate--rotate-2" src={decodeimage01} alt="Pile of Assorted-color Boats" />
          <Image class="rounded-xl border aspect-video object-cover border-white/25 hover:scale-110 hover:rotate-0 transition-transform -rotate-2" src={decodeimage02} alt="Pile of Assorted-color Boats" />
          <Image class="rounded-xl border aspect-video object-cover border-white/25 hover:scale-110 hover:rotate-0 transition-transform rotate--rotate-2" src={decodeimage03} alt="Pile of Assorted-color Boats" />
          <Image class="rounded-xl border aspect-video object-cover border-white/25 hover:scale-110 hover:rotate-0 transition-transform -rotate-2" src={decodeimage04} alt="Pile of Assorted-color Boats" />
          <Image class="rounded-xl border aspect-video object-cover border-white/25 hover:scale-110 hover:rotate-0 transition-transform rotate--rotate-2" src={decodeimage05} alt="Pile of Assorted-color Boats" />
          <Image class="rounded-xl border aspect-video object-cover border-white/25 hover:scale-110 hover:rotate-0 transition-transform -rotate-2" src={decodeimage06} alt="Pile of Assorted-color Boats" />
          <Image class="rounded-xl border aspect-video object-cover border-white/25 hover:scale-110 hover:rotate-0 transition-transform -rotate-2" src={decodeimage09} alt="Pile of Assorted-color Boats" />
          <Image class="rounded-xl border aspect-video object-cover border-white/25 hover:scale-110 hover:rotate-0 transition-transform rotate--rotate-2" src={decodeimage07} alt="Pile of Assorted-color Boats" />
          <Image class="hidden md:block rounded-xl border aspect-video object-cover border-white/25 hover:scale-110 hover:rotate-0 transition-transform -rotate-2" src={decodeimage08} alt="Pile of Assorted-color Boats" />
        </div>
    </div>
</div>