---
import { Image } from 'astro:assets';
import Alpitour from '../images/logo-alpitour.png'
import Caminonetworkfoundation from '../images/logo-caminonetworkfoundation.png'
import Holidaycheck from '../images/logo-holidaycheck.png'
import Polygonid from '../images/logo-polygonid.png'
import Universal from '../images/logo-universal.png'
---

<section class="py-8 md:py-16 xl:py-24" id="tech">
    <div class="container">

        <div>
            <div class="font-bold uppercase text-4xl md:text-5xl lg:text-7xl tracking-tighter mb-4">
                Challenges sponsored <br>
                by our partners
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-12 mt-12 gap-8 relative">
            <div class="lg:col-span-6 border-2 border-gray-800 p-6 rounded-xl">
                <Image class="h-8 w-auto" src={Polygonid} alt="Polygonid Logo"/>
                <div class="font-bold uppercase text-2xl lg:text-3xl tracking-tight mt-6 mb-4"><span class="text-gray-400">Decode Challenge</span> Polygon ID</div>
                <p class="text-gray-300">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem repellendus at sapiente impedit blanditiis, totam sed. Eligendi magni adipisci ullam nesci!</p>
                <a class="font-semibold px-5 py-2 rounded-lg bg-primary hover:bg-white text-gray-950 inline-block mt-4" href="####" target="_blank" rel="noopener noreferrer">Details</a>
            </div>
            <div class="lg:col-span-6 border-2 border-gray-800 p-6 rounded-xl">
                <Image class="h-8 w-auto" src={Alpitour} alt="Alpitour Logo"/>
                <div class="font-bold uppercase text-2xl lg:text-3xl tracking-tight mt-6 mb-4"><span class="text-gray-400">Decode Challenge</span> Alpitour</div>
                <p class="text-gray-300">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem repellendus at sapiente impedit blanditiis, totam sed. Eligendi magni adipisci ullam nesci!</p>
                <a class="font-semibold px-5 py-2 rounded-lg bg-primary hover:bg-white text-gray-950 inline-block mt-4" href="####" target="_blank" rel="noopener noreferrer">Details</a>
            </div>
            <div class="lg:col-span-4 border-2 border-gray-800 p-6 rounded-xl">
                <Image class="h-8 w-auto" src={Caminonetworkfoundation} alt="Caminonetworkfoundation Logo"/>
                <div class="font-bold uppercase text-2xl lg:text-3xl tracking-tight mt-6 mb-4"><span class="text-gray-400">Decode Challenge</span> Camino Network Foundation</div>
                <p class="text-gray-300">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem repellendus at sapiente impedit blanditiis, totam sed. Eligendi magni adipisci ullam nesci!</p>
                <a class="font-semibold px-5 py-2 rounded-lg bg-primary hover:bg-white text-gray-950 inline-block mt-4" href="####" target="_blank" rel="noopener noreferrer">Details</a>
            </div>
            <div class="lg:col-span-3 border-2 border-gray-800 p-6 rounded-xl">
                <Image class="h-8 w-auto" src={Holidaycheck} alt="Holidaycheck Logo"/>
                <div class="font-bold uppercase text-2xl lg:text-3xl tracking-tight mt-6 mb-4"><span class="text-gray-400">Decode Challenge</span> Holidaycheck</div>
                <p class="text-gray-300">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem repellendus at sapiente impedit blanditiis, totam sed. Eligendi magni adipisci ullam nesci!</p>
                <a class="font-semibold px-5 py-2 rounded-lg bg-primary hover:bg-white text-gray-950 inline-block mt-4" href="####" target="_blank" rel="noopener noreferrer">Details</a>
            </div>
            <div class="lg:col-span-5 border-2 border-gray-800 p-6 rounded-xl">
                <Image class="h-8 w-auto" src={Universal} alt="Universal Logo"/>
                <div class="font-bold uppercase text-2xl lg:text-3xl tracking-tight mt-6 mb-4"><span class="text-gray-400">Decode Challenge</span> Universal</div>
                <p class="text-gray-300">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem repellendus at sapiente impedit blanditiis, totam sed. Eligendi magni adipisci ullam nesci!</p>
                <a class="font-semibold px-5 py-2 rounded-lg bg-primary hover:bg-white text-gray-950 inline-block mt-4" href="####" target="_blank" rel="noopener noreferrer">Details</a>
            </div>
        </div>

    </div>
</section>