---
import { Image } from 'astro:assets';
import LogoWindow from '../images/logo-window.png';
import Loyalty from '../images/challenges/loyalty.png'
---

<section class="py-8 md:py-16 xl:py-24">
    <div class="container">

        <div>
            <div class="font-bold uppercase  mb-4 bg-primary inline-block text-gray-950 px-3 py-2">
                //:Challenges
            </div>
            <div class="font-bold uppercase text-4xl md:text-5xl lg:text-7xl tracking-tighter mb-4">
                Playground for <br> Innovation
            </div>
            <p class="text-sm text-gray-300">
                Tackle travel’s pain points without boundaries of legacy systems. Foster digital innovation with web3 technologies.
            </p>
        </div>

        <div class="grid grid-cols-6 grid-rows-6 gap-6 mt-8 text-center">

            <div data-sal="zoom-in" data-sal-duration="250" data-sal-delay="100" class="overflow-hidden bg-gradient-primary col-span-6 md:col-span-3 lg:col-span-2 lg:row-span-4 bg-gray-900 flex flex-col rounded-xl">
                <Image class="bg-blend-screen drop-shadow-xl h-64 object-cover" src={Loyalty} alt="Decode Travel Logo"/>
                <div class="p-8 grid place-content-center h-full">
                    <div class="font-bold text-2xl mb-4">Loyalty 1</div>
                    <p class="text-sm text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eos fuga, fugiat obcaecati quaerat dolore hic voluptatibus modi asperiores debitis tempore provident minima ratione ea aliquid, nostrum consectetur.</p>
                </div>
            </div>

            <div data-sal="zoom-in" data-sal-duration="250" data-sal-delay="200" class="overflow-hidden bg-gradient-primary col-span-6 md:col-span-3 lg:col-span-2 lg:row-span-2 bg-gray-900 rounded-xl flex">
                <div class="p-8 text-left grid place-content-center">
                    <div class="font-bold text-2xl mb-4 w-full">Loyalty 2</div>
                    <p class="text-sm text-gray-400">Lorem ipsum dolor sit amet adipisicing elit. Eveniet eos fuga, fugiat obcaecati quaerat dolore.</p>
                </div>
                <Image class="bg-blend-screen drop-shadow-xl h-full w-1/3 flex-shrink-0 object-cover" src={Loyalty} alt="Decode Travel Logo"/>
            </div>

            <div data-sal="zoom-in" data-sal-duration="250" data-sal-delay="100" class="overflow-hidden bg-gradient-primary col-span-6 md:col-span-3 lg:col-span-2 lg:row-span-4 bg-gray-900 rounded-xl flex flex-col">
                <div class="p-8 grid place-content-center h-full">
                    <div class="font-bold text-2xl mb-4">Loyalty 4</div>
                    <p class="text-sm text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eos fuga, fugiat obcaecati quaerat dolore hic voluptatibus modi asperiores debitis tempore provident minima ratione ea aliquid, nostrum consectetur.</p>
                </div>
                <Image class="bg-blend-screen drop-shadow-xl h-72 object-cover" src={Loyalty} alt="Decode Travel Logo"/>
            </div>

            <div data-sal="zoom-in" data-sal-duration="250" data-sal-delay="200" class="overflow-hidden bg-gradient-primary col-span-6 md:col-span-3 lg:col-span-2 lg:row-span-2 bg-gray-900 rounded-xl flex">
                <Image class="bg-blend-screen drop-shadow-xl h-full w-1/3 flex-shrink-0 object-cover" src={Loyalty} alt="Decode Travel Logo"/>
                <div class="p-8 text-left grid place-content-center">
                    <div class="font-bold text-2xl mb-4">Loyalty 3</div>
                    <p class="text-sm text-gray-400">Lorem ipsum dolor sit amet adipisicing elit. Eveniet eos fuga, fugiat obcaecati quaerat dolore.</p>
                </div>
            </div>


            <div data-sal="zoom-in" data-sal-duration="250" data-sal-delay="200" class="overflow-hidden bg-gradient-primary col-span-6 md:col-span-6 lg:col-span-2 lg:row-span-2 bg-gray-900 rounded-xl flex">
                <Image class="bg-blend-screen drop-shadow-xl h-full w-1/3 flex-shrink-0 object-cover" src={Loyalty} alt="Decode Travel Logo"/>
                <div class="p-8 text-left grid place-content-center">
                    <div class="font-bold text-2xl mb-4">Loyalty 3</div>
                    <p class="text-sm text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis exercitationem ipsam nostrum architecto, perspiciatis animi aliquid veritatis, aperiam odit illo minus.</p>
                </div>
            </div>

            <div data-sal="zoom-in" data-sal-duration="250" data-sal-delay="200" class="overflow-hidden bg-gradient-primary col-span-6 md:col-span-3 lg:col-span-2 lg:row-span-2 bg-gray-900 rounded-xl flex">
                <div class="p-8 text-left grid place-content-center">
                    <div class="font-bold text-2xl mb-4 w-full">Loyalty 2</div>
                    <p class="text-sm text-gray-400">Lorem ipsum dolor sit amet adipisicing elit. Eveniet eos fuga, fugiat obcaecati quaerat dolore.</p>
                </div>
                <Image class="bg-blend-screen drop-shadow-xl h-full w-1/3 flex-shrink-0 object-cover" src={Loyalty} alt="Decode Travel Logo"/>
            </div>

            <div data-sal="zoom-in" data-sal-duration="250" data-sal-delay="200" class="overflow-hidden bg-gradient-primary col-span-6 md:col-span-6 lg:col-span-2 lg:row-span-2 bg-gray-900 rounded-xl flex">
                <Image class="bg-blend-screen drop-shadow-xl h-full w-1/3 flex-shrink-0 object-cover" src={Loyalty} alt="Decode Travel Logo"/>
                <div class="p-8 text-left grid place-content-center">
                    <div class="font-bold text-2xl mb-4">Loyalty 3</div>
                    <p class="text-sm text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis exercitationem ipsam nostrum architecto, perspiciatis animi aliquid veritatis, aperiam odit illo minus.</p>
                </div>
            </div>
            
        </div>
    </div>
</section>