---
import { Image } from 'astro:assets';
import Chain4Travel from '../images/logo-chain4travel.png'
import CompanionD from '../images/logo-companion.png'
import YourInsight from '../images/logo-yourinsight.png'
import Hexens from '../images/logo-hexens.png'
import Vir from '../images/logo-vir.png'

import CaminoScan from '../images/logo-camino-scan.png'
import Sleap from '../images/logo-sleap.png'
import ITKompass from '../images/logo-it-kompass.png'
import Utravel from '../images/logo-utravel.png'
---

<div class="text-center py-24 lg:py-40 flex flex-col items-center justify-center mb-24 bg-gradient-to-b from-gray-950 to-primary/25" id="partners">
    <div data-sal="slide-up" data-sal-delay="100" data-sal-duration="500" class="container text-center flex flex-col items-center z-20">
        <div class="font-bold uppercase  mb-4 bg-primary inline-block text-gray-950 px-3 py-2">
            //Partners & Sponsors
        </div>
        <div class="text-white font-bold text-4xl md:text-6xl mt-6 mb-12 uppercase tracking-tighter">
            Join the hackathon for travel Tech innovation
        </div>
        <div class="flex flex-wrap justify-center items-center gap-6 lg:gap-12">
            <a class="flex-shrink-0 opacity-80 hover:opacity-100" href="https://chain4travel.com/" target="_blank" rel="noopener noreferrer"><Image class="h-5 lg:h-10 w-auto" src={Chain4Travel} alt="Decode Travel Logo"/></a>
            <a class="flex-shrink-0 opacity-80 hover:opacity-100" href="https://www.companiond.com/" target="_blank" rel="noopener noreferrer"><Image class="h-4 lg:h-8 w-auto" src={CompanionD} alt="Decode Travel Logo"/></a>
            <a class="flex-shrink-0 opacity-80 hover:opacity-100" href="https://yourinsight.digital/" target="_blank" rel="noopener noreferrer"><Image class="h-5 lg:h-11 w-auto" src={YourInsight} alt="Decode Travel Logo"/></a>
            <a class="flex-shrink-0 opacity-80 hover:opacity-100" href="https://hexens.io/" target="_blank" rel="noopener noreferrer"><Image class="h-5 lg:h-10 w-auto" src={Hexens} alt="Decode Travel Logo"/></a>
            <a class="flex-shrink-0 opacity-80 hover:opacity-100" href="https://v-i-r.de/" target="_blank" rel="noopener noreferrer"><Image class="h-5 lg:h-12 w-auto" src={Vir} alt="Decode Travel Logo"/></a>
            <a class="flex-shrink-0 opacity-80 hover:opacity-100" href="https://caminoscan.com/" target="_blank" rel="noopener noreferrer"><Image class="h-5 lg:h-10 w-auto" src={CaminoScan} alt="Decode Travel Logo"/></a>
            <a class="flex-shrink-0 opacity-80 hover:opacity-100" href="https://sleap.io/" target="_blank" rel="noopener noreferrer"><Image class="h-5 lg:h-12 w-auto" src={Sleap} alt="Decode Travel Logo"/></a>
            <a class="flex-shrink-0 opacity-80 hover:opacity-100" href="https://www.it-kompass.com/" target="_blank" rel="noopener noreferrer"><Image class="h-5 lg:h-12 w-auto" src={ITKompass} alt="Decode Travel Logo"/></a>
            <a class="flex-shrink-0 opacity-80 hover:opacity-100" href="https://utravel.it/" target="_blank" rel="noopener noreferrer"><Image class="h-5 lg:h-12 w-auto" src={Utravel} alt="Decode Travel Logo"/></a>
        </div>
    </div>
</div>